html {
    overflow-x: hidden;
}

.menu-box {
    position: fixed;
    width: 10%;
    height: 100vh;
    background:grey;
    padding: 15px;
    left: 0;
    top: 0;
}

.container{
    position:relative;
    left: calc(7.5% + 30px);
    width: calc(95% - 30px);
        .top-box{
            width: 80%;
            margin: auto;
            padding: 15px;
            background: red; 
        }
        .box {
            width: 27%;
            margin: 30px auto;
            padding: 15px;
            background: green;
        }
        .one {
        position:absolute;
        left: calc(10% - 15px);
        max-width: 10%;
        background: yellow;
        padding:15px;
            p{
                font: 14px sans-serif;
            }
        }
        .flex-wrapper {
            display:flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: auto;
            width: calc(80% + 30px);
            position: relative;
            right: calc(-10% + 45px);
            .two, .three{
                margin: auto;
                width: 30%;
                padding: 15px;
            }
            .two{
                background: blue;
            }
            .three{
                background:green;
            }
            .four{
                background: aqua;
                margin: 95px auto;
                width: 80%;
                padding: 15px;
            }
        }
}



  
  